
.slider-imgs,
.slide-img{
    width: 100%;   
}
.slide-img{
    -webkit-box-shadow: -6px 6px 15px 4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -6px 6px 15px 4px rgba(0, 0, 0, 0.27);
    box-shadow: -6px 6px 15px 4px rgba(0, 0, 0, 0.27);
}

@media (min-width: 992px) {
    .slider-imgs,
    .slide-img{
        width: 560px;
        
    }
    
}